html{
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

body{
  background: #f5d9d5;
  font-family: Rubik, sans-serif;
}

::selection{
  background-color: rgba(214, 112, 175, 0.72);
  color: white;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 5px;
}

::-webkit-scrollbar
{
  width: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #ece7e7;
  border-radius: 10px;
background-image: -webkit-linear-gradient(90deg, rgba(255, 56, 116, 0.5) 33%,
    transparent 33%,
    transparent 66%,
    rgba(255, 56, 116, 0.5) 66%,
    rgba(255, 56, 116, 0.5) 99%,
    transparent 99%,
    transparent)
}

#mainNavbar {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
}

.nav-link{
  color: white;
}

#mainNavbar .nav-link:hover{
  color: rgba(255, 56, 116, 0.5);
  text-shadow: 1px 1px 2px pink;
  transition: all 0.5s ease-in-out;
}

section{
  margin-bottom: 50px;
}

.scrolled {
  background: rgba(222, 127, 172, 0.27);
  transition: background-color 0.5s ease-in-out;
}

.mainText{
  letter-spacing: 2px;
  line-height: 1.75;
  margin-bottom: 0;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-shadow: 0 0 5px rgba(240, 135, 200, 0.704);
  transition: all 0.2s ease-in-out;
}

.mainText span.cn{
  color: rgba(255, 56, 116, 0.66);
}

.subText{
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.333rem;
  color: rgba(214, 112, 175, 0.72);
}

.icons{
  color: rgba(222, 79, 167, 0.7);
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

footer a.nav-link{
  color: rgba(255, 56, 116, 0.66);
  padding: 12px auto;
  font-size: 1.333rem;
  margin: auto 10px;
}

footer a.nav-link:hover{
  color: rgb(79, 191, 222);
}

footer a.nav-link:active{
  color: rgba(240, 135, 200, 0.27) ;
}

footer a.nav-link:visited{
  color: rgba(240, 135, 200, 0.27) ;
}

.madewithlove{
  color: #ffffff;
  text-shadow: 0 0 3px rgba(240, 135, 200, 0.27);
  font-size: 1.333rem;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  }

a{
    text-decoration: none;
  }

.fa {
    color: rgba(255, 56, 116, 0.66);
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate;
}

#liveAlertBtn{
  color: white;
  background-color: rgba(254, 14, 162, 0.72);
  margin: 2;
  padding: 5;
}

#liveAlertBtn:hover{
  box-sizing: border-box;
  margin: 2;
  padding: 5;
  border: 1px solid rgba(240, 135, 200, 0.275);
}

.btnClose{
  color: white;
  background-color: rgba(255, 56, 116, 0.5);
}

.btnClose:hover{
  color: white;
  background-color: rgba(212, 63, 108, 0.385);
}

@keyframes pound {
  to {
    transform: scale(1.0799825092);
  }
}

@media (max-width:1372px) {
  .mainText{
    font-size: 2.5rem;
    line-height: 2.2;
  }

}

@media (max-width:1114px) {
  .mainText{
    letter-spacing: 1px;
    font-size: 2.2rem;
    line-height: 2.2;
  }
  .subText{
    line-height: 1.333;
  }
}
